<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>355601821000-ti23ndpoeilmb6pppasb132bqfco0k9n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.355601821000-ti23ndpoeilmb6pppasb132bqfco0k9n</string>
	<key>API_KEY</key>
	<string>AIzaSyBxn7QnKOtJmJO-iTsI-VipkN2wMcK3ECg</string>
	<key>GCM_SENDER_ID</key>
	<string>355601821000</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.whatsappUi</string>
	<key>PROJECT_ID</key>
	<string>flutter-ui-6da2a</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-ui-6da2a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:355601821000:ios:4a99e43bf361e7c899177d</string>
</dict>
</plist>